<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androiddemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.zxing.QrCodeActivity" />
        <activity android:name=".ui.drag.DragActivity" />
        <activity android:name=".ui.multilist.MultiListActivity" />
        <activity android:name=".ui.permission.PermisstionActivity" />
        <!-- 骨架屏方案一 -->
        <activity android:name=".ui.skeleton.skeleton1.Skeleton1Activity" />
        <activity android:name=".ui.skeleton.skeleton1.Skeleton1ListActivity" />
        <activity
            android:name=".ui.skeleton.skeleton1.Skeleton1ViewActivity"
            android:hardwareAccelerated="false" />
        <!-- 骨架屏方案二 -->
        <activity android:name=".ui.skeleton.skeleton2.Skeleton2Activity" />
        <activity android:name=".ui.skeleton.skeleton2.Skeleton2ListActivity" />
        <activity android:name=".ui.skeleton.skeleton2.Skeleton2ViewActivity" />
        <!-- 骨架屏方案三 -->
        <activity android:name=".ui.skeleton.skeleton3.Skeleton3Activity" />
        <activity android:name=".ui.skeleton.skeleton3.Skeleton3ListActivity" />
        <activity
            android:name=".ui.skeleton.skeleton3.Skeleton3ViewActivity"
            android:theme="@style/DetailTheme" />
        <!-- 骨架屏方案四 -->
        <activity android:name=".ui.skeleton.skeleton4.Skeleton4Activity" />
        <activity android:name=".ui.skeleton.skeleton4.Skeleton4ListActivity" />
        <activity android:name=".ui.skeleton.skeleton4.Skeleton4ViewActivity" />
    </application>

</manifest>